{% extends 'base.html' %}
{% block head %}

{% endblock head %}

{% block body %}
<div class="main">
    <!-- Sing in  Form -->
    <section class="signin">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{{ url_for('static', filename='images/signin-image.jpg')}}" alt="sing up image">
                    </figure>
                    <a href="{{url_for('register')}}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form method="POST" class="register-form" id="register-form" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <!-- <input type="email" name="email" id="email" placeholder="Your Email" /> -->
                            {% if form.email.errors %}
                            {{ form.email(placeholder=form.email.label.text, class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(placeholder=form.email.label.text ) }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <!-- <input type="password" name="password" id="pass" placeholder="Password" /> -->
                            {% if form.password.errors %}
                            {{ form.password(placeholder=form.password.label.text ,class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.password(placeholder=form.password.label.text )}}
                            {% endif %}
                        </div>
                        <div class="form-group form-button">
                            {{ form.submit(class="form-submit") }}
                        </div>
                        <!-- <small class="text-muted">
                            <a href="#">Forgot Password?</a>
                        </small> -->
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock body %}