{% extends 'layout.html' %}
{% block head %}
<title>Profile</title>
{% endblock head %}

{% block body %}
<!--========================== PROFILE ============================================-->


<!--========== MAIN JS ==========-->
<script src="url_for('static',filename='assets/js/main.js')}}"></script>
<div class="container">
    <div class="main-body">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ image_file}}" alt="Profile pic" class="rounded-circle" widtg="125">
                                <br>
                                <div class="mt-3">
                                    <h4>{{current_user.username}}</h4>
                                    <p class="text-muted font-size-sm">{{current_user.email}}</p>
                                    <!-- <button class="btn btn-primary">Follow</button> -->
                                    <div class="form-group text-center">
                                        {{ form.picture.label()}}
                                        {{ form.picture(class="font-size-sm form-control") }}
                                        {% if form.picture.errors %}
                                        {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <br>
                                    {{ form.submit(class="btn btn-outline-primary") }}
                                    <button class="btn btn-outline-primary">Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <legend class="border-bottom mb-4">Account Info</legend>
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}

                                {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.phone.label(class="form-control-label") }}
                                {% if form.phone.errors %}
                                {{ form.phone(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.phone(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-primary") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</div>
</div>
{% endblock body %}v
